body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADERR*/
header {
    background-color: #03254C;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.frase h1{
    font-size: 45px;
}


.contenido{
    width: 80%;
    margin: 0 auto;
}

/* CUADROO DATOS PERSONALES*/
.datos-personales{
    display: flex;
    background-color: #1167B1;
    color: white;
    padding: 20px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

/*MI FOTO*/
.foto-perfil {
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.contenido img{
    display: flex;
    align-items: center;
}
.contenido p{
    display: flex;
    justify-content: center;
}

/* DATOS DE LA MATERIA */
.datos-materia {
    text-align: justify;
    background-color: white;
    color: black;
    padding: 50px;
}

.datos-materia h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.datos-materia p{
    line-height: 1.6;
}


/*GUIAS*/
.guias{
    background-color: #1167B1;
    color: white;
    padding: 50px;
    line-height: 1.6;
}
.ejercicios {
    display: flex; 
    justify-content: center;
    gap: 20px;
}
.guias h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.guia h3{
    font-weight: bold;
}
.boton{
    padding: 10px;
    background-color: #03254C;
    text-decoration: none;
    color: white;
}
.boton:hover{
    background-color: #2A9DF4;
}


/*FODA*/
.foda{
    padding: 50px;
}
.foda h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.foda p{
    line-height: 1.6;
}

/*RETROALIMENTACION*/
.retroalimentacion{
    background-color: #1167B1;
    color: white;
    padding: 50px;
}
.retroalimentacion h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.retroalimentacion p{
    line-height: 1.6;
}

/*APRENDIZAJE*/
.aprendizaje{
    padding: 55px;
}
.aprendizaje h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
}

/*FOOTER*/
footer {
    background-color: #03254C;
    color: white;
    text-align: center;
    padding: 10px 0;
}



@media (max-width: 768px){
    .contenido{
        width: 90%;
    }
    .datos-personales{
        flex-direction: column;
        padding: 10px;
    }
    .foto-perfil{
        width: 200px;
    }
    .datos-materia, .guias{
        padding: 30px;
    }
    .frase h1{
        font-size: 30px;
    }
    .datos-materia h2{
        font-size: 28px;
    }
}


@media (max-width: 480px){
    .frase h1{
        font-size: 24px;
    }
    .datos-materia h2{
        font-size: 24px;
    }
    .foda-item{
        padding: 10px;
    }
    .guia{
        margin-bottom: 20px;
    }
    .ejercicios a{
        display: block;
        margin: 6px 0;
    }
}
