*{
    margin: 0;
    padding: 0; /* RESET CSS*/
}

body{
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1, h2{
    color: navy;
}

h1{
    font-size: 48px;
}

#sv{
    color: grey;
}

h2{
    font-size: 32px;
    text-decoration: uppercase;
}

footer{
    background-color: rgba(0, 0, 255, 0.5);
    color: #FFFFFF;
}

.pais{
    width: 80%;
    margin: 0 auto;
}